@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

/* Default CSS 
最新最全最好的Bootstrap模板：http://www.bootstrapmb.com
*/
.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

a {
  -webkit-transition: .6s;
  transition: .6s;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.default-btn-one {
  display: inline-block;
  padding: 12px 40px;
  background-color: #6a9b1c;
  color: #ffffff;
  border-radius: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  border: 1px solid #6a9b1c;
}

.default-btn-one:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #6a9b1c;
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-transition: 0.5s;
}

.gray-bg {
  background-color: #f0f0f055;
}

.bg-style {
  background-color: #2174bd;
}

.ptb-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pb-100 {
  padding-bottom: 100px;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
}

.section-title h2 {
  font-size: 36px;
  margin: 0 0 16px 0;
  text-transform: capitalize;
}

.section-title p {
  font-size: 16px;
  color: #666666;
  max-width: 550px;
  margin: auto;
  line-height: 30px;
}

p {
  color: #565656;
  line-height: 1.8;
}

/* Default CSS */
/* Preloader CSS */
.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  z-index: 999;
}

.spinner {
  width: 80px;
  height: 80px;
  position: absolute;
  margin: 100px auto;
  left: 0;
  right: 0;
  top: 35%;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #6a9b1c;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
/* Preloader CSS */

/* Start Header Style */
.header-area {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #6a9b1c;
}

.header-info {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 2px;
}

.header-info li {
  list-style-type: none;
  display: inline-block;
  color: #ffffff;
  font-size: 14px;
  margin-right: 15px;
}

.header-info li:last-child {
  margin-right: 0;
}

.header-info i {
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
  color: #ffffff;
}

.header-info i::before {
  font-size: 15px;
}

.header-info a {
  text-decoration: none;
  color: #ffffff;
}

.social-links {
  padding-left: 0;
  text-align: right;
  margin-bottom: 0;
}

.social-links li {
  list-style-type: none;
  display: inline-block;
}

.social-links i {
  display: inline-block;
  height: 27px;
  width: 27px;
  background-color: #ffffff;
  line-height: 25px;
  text-align: center;
  font-size: 14px;
  color: #3a3737;
  border-radius: 30px;
  margin: 0 0 0 5px;
  border: 1px solid #ffffff;
}

.social-links i::before {
  font-size: 13px;
}

.social-links i:hover {
  background-color: #6a9b1c;
  color: #ffffff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.social-links a {
  text-decoration: none;
}
/* End Header Style */


/* Start Nav Style */
.jian-mobile-nav {
  display: none;
}

.jian-mobile-nav.mean-container .mean-nav ul li a.active {
  color: #6a9b1c;
}

.navbar-area.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff !important;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  max-width: 130px;
}

.jian-nav {
  background-color: #e5eefa;
  padding-top: 15px;
  padding-bottom: 15px;
}

.jian-nav .navbar {
  padding-right: 0;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.jian-nav .navbar ul {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}

.jian-nav .navbar .navbar-nav {
  margin-left: auto;
}

.jian-nav .navbar .navbar-nav .nav-item {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
}

.jian-nav .navbar .navbar-nav .nav-item a {
  font-size: 18px;
  font-weight: 600;
  color: #141414;
  text-transform: uppercase;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 30px;
  margin-right: 30px;
}

.jian-nav .navbar .navbar-nav .nav-item a:hover, .jian-nav .navbar .navbar-nav .nav-item a:focus, .jian-nav .navbar .navbar-nav .nav-item a.active {
  color: #6a9b1c;
}

.jian-nav .navbar .navbar-nav .nav-item a i {
  margin-left: -3px;
  font-size: 13px;
}

.jian-nav .navbar .navbar-nav .nav-item:hover a, .jian-nav .navbar .navbar-nav .nav-item:focus a, .jian-nav .navbar .navbar-nav .nav-item.active a {
  color: #6a9b1c;
}

.jian-nav .navbar .navbar-nav .nav-item .dropdown-menu {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  position: absolute;
  border: none;
  top: 80px;
  left: 0;
  width: 250px;
  z-index: 99;
  display: block;
  opacity: 0;
  visibility: hidden;
  border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 20px;
}

.jian-nav .navbar .navbar-nav .nav-item .dropdown-menu li {
  position: relative;
  padding: 0;
}

.jian-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
  text-transform: capitalize;
  padding: 8px 15px;
  margin: 0;
  display: block;
  color: #141414;
  font-size: 15.4px;
  font-weight: 600;
}

.jian-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .jian-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .jian-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
  color: #6a9b1c;
}

.jian-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
  left: 220px;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.jian-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
  color: #141414;
  text-transform: capitalize;
}

.jian-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .jian-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .jian-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
  color: #6a9b1c;
}

.jian-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li {
  position: relative;
  padding: 0;
}

.jian-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
  text-transform: capitalize;
  padding: 8px 15px;
  margin: 0;
  display: block;
  color: #141414;
  font-size: 15.4px;
  font-weight: 600;
}

.jian-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .jian-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .jian-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
  color: #6a9b1c;
}

.jian-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu {
  left: 220px;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.jian-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: #141414;
  text-transform: capitalize;
}

.jian-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .jian-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .jian-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #6a9b1c;
}

.jian-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
  color: #6a9b1c;
}

.jian-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: -15px;
}

.jian-nav .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
  color: #6a9b1c;
}

.jian-nav .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: -15px;
}

.jian-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.jian-nav .others-options {
  margin-left: 15px;
}

.jian-nav .others-options .btn-primary {
  background-color: #6a9b1c;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 50px;
  border-color: #6a9b1c;
}

.jian-nav .others-options .btn-primary::before, .jian-nav .others-options .btn-primary::after {
  background: #141414;
}

.jian-nav .others-options .btn-primary:not(:disabled):not(.disabled).active, .jian-nav .others-options .btn-primary:not(:disabled):not(.disabled):active, .show > .jian-nav .others-options .btn-primary.dropdown-toggle {
  background-color: #6a9b1c;
  color: #ffffff;
  border-color: #141414;
}

.jian-nav .others-options .btn-primary:hover, .jian-nav .others-options .btn-primary:focus {
  background-color: #ffffff;
  color: #6a9b1c;
  -webkit-box-shadow: 0 13px 27px 0 rgba(255, 255, 255, 0.15);
  box-shadow: 0 13px 27px 0 rgba(255, 255, 255, 0.15);
}
/* End Nav Style */


/* Start Footer Style */
.footer-section {
  background-image: url(../../assets/img/footer-bg.jpg);
  background-position: center center;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 30px;
  position: relative;
  margin-top: 150px;
}

.footer-section::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  background-color: #000000;
  opacity: 0.9;
  z-index: -1;
}

.footer-content {
  margin-bottom: 28px;
}

.footer-content h2 {
  font-size: 24px;
  color: #ffffff;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.footer-item p {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  line-height: 30px;
  margin: 28px 0px 0px 0;
}

.footer-item .footer-links {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 15px;
}

.footer-item .footer-links li {
  list-style-type: none;
  display: inline-block;
}

.footer-item .footer-links i {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ffffff;
  color: #2174bd;
  border-radius: 10px;
  margin: 0 4px 0 0px;
}

.footer-item .footer-links i:hover {
  background-color: #2174bd;
  color: #ffffff;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.footer-item .footer-links a {
  text-decoration: none;
}

.menu-item {
  padding-left: 90px;
}

.menu-item .physio-menu {
  margin-bottom: 0;
  padding-left: 0;
}

.menu-item .physio-menu li {
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  list-style-type: none;
  line-height: 40px;
}

.menu-item .physio-menu a {
  color: #ffffff;
}

.menu-item .physio-menu a:hover {
  color: #6a9b1c;
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-transition: 0.5s;
  text-decoration: none;
}

.menu-item-content{
  padding-left: 90px;
}

.menu-item-content .quick-menu {
  margin-bottom: 0;
  padding-left: 0;
}

.menu-item-content .quick-menu li {
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  list-style-type: none;
  line-height: 40px;
}

.menu-item-content .quick-menu a {
  color: #ffffff;
}

.menu-item-content .quick-menu a:hover {
  color: #6a9b1c;
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-transition: 0.5s;
  text-decoration: none;
}

.footer-info h3 {
  font-size: 16px;
  color: #ffffff;
  margin: 1px 0 25px 0;
}

.footer-info h3:last-child {
  margin-bottom: 0;
}

.footer-info i::before {
  font-size: 20px;
  margin-right: 8px;
  font-weight: 900;
  position: relative;
  top: 3px;
}

.footer-info a {
  text-decoration: none;
  color: #ffffff;
}

.footer-info span {
  font-size: 16px;
  color: #ffffff;
  margin: 6px 0px 0px 30px;
}

/* End Footer Style */
/* Start Footer-bottom Style */
.footer-bottom {
  background-color: #06131e;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-bottom .bottom-content {
  text-align: center;
}

.footer-bottom .bottom-content p {
  font-size: 15px;
  color: #ffffff;
  margin: 0;
  font-weight: 500;
}
/* End Footer-bottom Style */


/* Start Main Banner style */
.main-slider {
  position: relative;
}

.main-slider .main-banner-item {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.main-slider .main-banner-item::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  background-color: #000000;
  opacity: 0.8;
  z-index: -1;
}

.main-slider .item-bg {
  background-image: url(../../assets/img/index/bg.jpg);
}

.main-slider .item-bg-two {
  background-image: url(../../assets/img/index/bg2.jpg);
}

.main-slider .item-bg-three {
  background-image: url(../../assets/img/index/bg3.jpg);
}

.main-slider .banner-area-content {
  max-width: 550px;
  text-align: left;
}

.main-slider .banner-area-content h1 {
  color: #ffffff;
  font-size: 45px;
  font-family: 'Raleway', sans-serif;
  margin: 0 0 10px 0;
  line-height: 70px;
}

.main-slider .banner-area-content p {
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
  line-height: 30px;
  max-width: 450px;
}

.main-slider .banner-area-content .banner-btn {
  margin-top: 35px;
}

.main-slider .owl-prev {
  position: absolute;
  left: 2%;
  top: 45%;
  height: 50px;
  width: 50px;
  line-height: 30px;
  font-size: 28px !important;
  background-color: #6a9b1c !important;
  color: #ffffff !important;
  border: none;
  border-radius: 50px !important;
}

.main-slider .owl-prev:hover {
  background-color: #ffffff !important;
  color: #000000 !important;
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-transition: 0.5s;
}

.main-slider .owl-next {
  position: absolute;
  right: 2%;
  top: 45%;
  height: 50px;
  width: 50px;
  line-height: 30px;
  font-size: 28px !important;
  background-color: #6a9b1c !important;
  color: #ffffff !important;
  border: none;
  border-radius: 50px !important;
}

.main-slider .owl-next:hover {
  background-color: #ffffff !important;
  color: #000000 !important;
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-transition: 0.5s;
}

.main-slider .owl-nav {
  margin-top: 0;
}

.main-slider .owl-item.active h1 {
  -webkit-animation: 2s .3s fadeInUp both;
  animation: 2s .3s fadeInUp both;
}

.main-slider .owl-item.active p {
  -webkit-animation: 2s .3s fadeInUp both;
  animation: 2s .3s fadeInUp both;
}

.main-slider .owl-item.active .banner-btn {
  -webkit-animation: 2s .3s fadeInUp both;
  animation: 2s .3s fadeInUp both;
}

.banner-video {
  position: relative;
  background-image: url(../../assets/img/about.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}

.banner-video .video-btn {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: -50px;
}

.banner-video .video-btn a {
  color: #ffffff;
  display: inline-block;
  width: 70px;
  height: 70px;
  line-height: 72px;
  background: #8dc63f;
  position: relative;
  font-size: 30px;
  z-index: 1;
  border-radius: 50%;
  padding-left: 2px;
}

.banner-video .video-btn a::after {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 70px;
  -webkit-animation: ripple 1.6s ease-out infinite;
  animation: ripple 1.6s ease-out infinite;
  opacity: 0;
  border-radius: 50%;
  background: #8dc63f;
}

.banner-video .video-btn a:hover {
  color: #000000;
  background: #ffffff;
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-transition: 0.5s;
}

.banner-video .video-btn i {
  font-weight: 900;
}

.banner-video .video-btn i::before {
  font-size: 40px;
}
/* End Main Banner style */


/* Start Top Services style */
.top-services-section {
  padding-bottom: 100px;
  margin-top: -50px;
  position: relative;
  z-index: 1;
}

.no-padding {
  padding: 5px;
}

.top-services-content {
  padding: 30px;
  text-align: center;
  background-image: url(../../assets/img/top-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.top-services-content h2 {
  font-size: 24px;
  color: #ffffff;
  margin: 20px 0 14px 0;
}

.top-services-content p {
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
  margin: -1px 0 0px 0;
}

.top-services-content span {
  font-size: 15px;
  color: #ffffff;
  font-weight: 500;
}

.top-services-content i {
  display: inline-block;
  height: 80px;
  width: 80px;
  line-height: 80px;
  background-color: #fff;
  color: #609bd0;
  border-radius: 50px;
}

.top-services-content i::before {
  font-size: 35px;
}
/* End Top Services style */


/* Start Expertise style */
.expertise-section {
  /* padding-bottom: 100px; */
  position: relative;
  margin-bottom: 100px;
}

.expertise-content-area h2 {
  font-size: 18px;
  color: #2174bd;
  margin: 0 0 10px 0;
  font-family: 'Raleway', sans-serif;
}

.expertise-content-area h2::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  background-color: #2174bd;
  right: 30%;
  left: 0;
  margin: 0 auto;
  top: 15px;
}

.expertise-content-area h3 {
  font-size: 36px;
  color: #061933;
  margin: 0 0px 20px 0;
  line-height: 50px;
}

.expertise-content-area p {
  font-size: 20px;
  color: #565656;
  line-height: 30px;
  font-weight: 400;
}

.expertise-features-list {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: 0px;
  margin-top: 10px;
}

.expertise-features-list li {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
  font-weight: 600;
  color: #061933;
  font-size: 18px;
  padding-right: 15px;
  padding-left: 22px;
  margin-top: 10px;
  position: relative;
}

.expertise-features-list li::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 2px solid #6a9b1c;
  border-radius: 30px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-weight: bold;
}

.expertise-box {
  margin-top: 35px;
}

.back-image {
  position: absolute;
  right: 0;
  top: -20%;
  z-index: -1;
}
/* End Expertise style */


/* Start Choose style */
.choose-section {
  background-image: url(../../assets/img/choose-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.choose-area {
  margin-bottom: 60px;
}

.choose-area .choose-title h2 {
  font-size: 20px;
  color: #6a9b1c;
  margin: 0 0 10px 0;
  font-family: 'Raleway', sans-serif;
}

.choose-area .choose-title h2::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  background-color: #6a9b1c;
  right: 18%;
  left: 0;
  margin: 0 auto;
  top: 15px;
}

.choose-area .choose-title h3 {
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
  margin: 0;
  line-height: 45px;
}

.choose-area .p-text {
  margin-top: 35px;
}

.choose-area .p-text p {
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  margin: 0;
  line-height: 30px;
}

.choose-content {
  position: relative;
  border: 1px solid #c9c9c9;
  -webkit-transition: .6s;
  transition: .6s;
  padding: 35px 20px 20px 110px;
  margin-bottom: 30px;
  z-index: 1;
}

.choose-content:hover {
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-transition: 0.5s;
  background-color: #6a9b1c;
  border: 1px solid #6a9b1c;
}

.choose-content::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 50px;
  background-color: #6a9b1c;
  right: 0;
  margin: 0 auto;
  top: -1px;
}

.choose-content::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 50px;
  background-color: #6a9b1c;
  right: -24px;
  top: 22px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.choose-content h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #ffffff;
  margin: 0 0 8px 0;
}

.choose-content p {
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
  margin: 0;
  line-height: 30px;
}

.choose-content i {
  position: absolute;
  left: 40px;
  top: 28px;
  z-index: 1;
  color: #115fa4;
  z-index: 11;
}

.choose-content i::before {
  font-size: 30px;
}

.choose-content img {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 1;
}

.choose-image {
  position: absolute;
  top: -1px;
  right: 15px;
}

.choose-btn {
  margin-top: 20px;
  text-align: center;
}
/* End Choose style */


/* Start FAQ style */
.faq-accordion .accordion {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.faq-accordion .accordion .accordion-item {
  display: block;
  margin-bottom: 14px;
}

.faq-accordion .accordion .accordion-item:last-child {
  margin-bottom: 0;
}

.faq-accordion .accordion .accordion-item .accordion-title {
  padding: 12px 35px 12px 15px;
  color: #ffffff;
  position: relative;
  width: 100%;
  background: #ffffff;
  border-radius: 0;
  display: inline-block;
  font-size: 15.5px;
  font-weight: 600;
  background-color: #2174bd;
}

.faq-accordion .accordion .accordion-item .accordion-title i {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.faq-accordion .accordion .accordion-item .accordion-title.active i::before {
  content: "\eab2";
}

.faq-accordion .accordion .accordion-item .accordion-content {
  display: none;
  background-color: #ffffff;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 30px;
  padding: 15px;
  border: 1px solid #cccccc;
  border-top: none;
}

.faq-accordion .accordion .accordion-item .accordion-content.show {
  display: block;
}

.faq-image {
  padding-left: 70px;
  margin-top: 0px;
}
/* End FAQ style */


/* Start Page area Style */
.page-banner {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../../assets/img/stroke/page.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  margin-bottom: 100px;
}

.page-banner::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000000;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.7;
  z-index: -1;
}

.page-banner .page-banner-content {
  text-align: left;
}

.page-banner .page-banner-content h2 {
  font-size: 36px;
  color: #fefafa;
  margin: 0 0 16px 0;
}

.page-banner .page-banner-content p {
  font-size: 16px;
  color: #ffffff;
  margin: 0;
}

.page-banner .page-banner-content p a {
  color: #ffffff;
}

.page-banner .page-banner-content p a:hover {
  color: #8dc63f;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition: 0.5s;
}
/* End Page area Style */


/* Start Services Style */
.services-section {
  padding-top: 100px;
  padding-bottom: 70px;
}

.services-area {
  margin-bottom: 60px;
}

.services-area .services-title h2 {
  font-size: 20px;
  color: #2174bd;
  margin: 0 0 10px 0;
  font-family: 'Raleway', sans-serif;
}

.services-area .services-title h2::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 50px;
  background-color: #2174bd;
  right: 66%;
  left: 0;
  margin: 0 auto;
  top: 16px;
}

.services-area .services-title h3 {
  font-size: 30px;
  color: #061933;
  margin: 0;
  line-height: 45px;
}

.services-area .p-text {
  margin-top: 30px;
}

.services-area .p-text p {
  font-size: 17px;
  color: #061933;
  font-weight: 600;
  margin: 0;
  line-height: 30px;
}

.services-item {
  margin-bottom: 30px;
}

.services-item .services-image {
  background-color: #2737c412;
  /* width: 510px; */
  height: 301px; 
  position: relative;
}

.services-item .services-image .services-text {
  position: absolute;
  border-radius: 10px;
  top: 0;
  right: 0;
  left: 0;
  -webkit-transition: .6s;
  transition: .6s;
  bottom: 0;
  background: #317aba;
  margin: 10px;
  opacity: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  text-align: center;
  visibility: hidden;
}

.services-item .services-image .services-text p {
  position: absolute;
  margin: auto;
  top: 5%;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  padding: 20px;
}

.services-item .services-image .services-text span {
  font-size: 14px;
}

.services-item .services-content {
  padding: 10px;
  margin-top: 10px;
  padding-bottom: 0;
}

.services-item .services-content h2 {
  font-size: 16px;
  color: #061933;
  margin: 0 0 10px 0;
}

.services-item .services-content p {
  font-size: 14px;
  color: #565656;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
}

.services-item .services-content .services-btn {
  margin-top: 20px;
}

.services-item .services-content .services-btn .services-btn-one {
  display: inline-block;
  color: #2174bd;
  -webkit-transition: .6s;
  transition: .6s;
}

.services-item .services-content .services-btn .services-btn-one:hover {
  letter-spacing: 1px;
}

.services-item .services-content .services-btn .services-btn-one i::before {
  position: relative;
  top: 0px;
  font-size: 11px;
}

.services-item:hover .services-image .services-text {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
/* End Services Style */


/* Start Gallery Style */
.gallery-section {
  padding-bottom: 0px;
}

.gallery-section .filter-menu {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-bottom: 40px;
}

.gallery-section .filter-menu li {
  border: none;
  background: #f4f4f4;
  padding: 9px 24px;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 30px;
  color: #828893;
  outline: 0 !important;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  margin-right: 10px;
}

.gallery-section .filter-menu li:hover {
  background: #6a9b1c;
  color: #ffffff;
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-transition: 0.5s;
}

.gallery-section .filter-menu .filter.active {
  color: #ffffff;
  background-color: #6a9b1c;
}

.gallery-section .single-work {
  margin-bottom: 30px;
}

.gallery-section .single-work .work-image {
  display: block;
  position: relative;
}

.gallery-section .single-work .work-image::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: .4s;
  transition: .4s;
}

.gallery-section .single-work .work-image:hover::before, .gallery-section .single-work .work-image:focus::before {
  height: 100%;
  background-color: #6a9b1cbe;
}

.gallery-section .single-work .work-image .popup-btn {
  position: absolute;
  left: 0;
  top: 50%;
  text-align: center;
  right: 0;
  color: #ffffff;
  margin-top: 0;
  font-size: 24px;
  opacity: 0;
  visibility: hidden;
}

.gallery-section .single-work .work-image .popup-btn:hover {
  text-decoration: none;
}

.gallery-section .single-work .work-image:hover .popup-btn, .gallery-section .single-work .work-image:focus .popup-btn {
  opacity: 1;
  visibility: visible;
  margin-top: -15px;
}

.gallery-section #Container .mix {
  display: none;
}

.gallery-section .gallery-btn {
  margin-top: 30px;
  text-align: center;
}

.gallery-section .gallery-btn .gallery-btn-one {
  display: inline-block;
  padding: 12px 40px;
  background-color: #6a9b1c;
  color: #ffffff;
  border: 1px solid #6a9b1c;
  font-size: 16px;
  font-weight: 600;
}

.gallery-section .gallery-btn .gallery-btn-one:hover {
  background-color: #ffffff;
  color: #6a9b1c;
  text-decoration: none;
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-transition: 0.5s;
}

/* End Gallery Style */
/*# sourceMappingURL=style.css.map */